<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Required to talk to the self-hosted gateway over the network. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required for the voice-query recording flow (see AudioRecorderService). -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Microphone is used but not required: the app still installs and
         text queries still work on devices without one. -->
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <!-- Home-screen widget: VoiceRecordingService runs as a foreground
         service so Android doesn't kill it mid-recording, and shows a
         floating bubble over whatever app is on screen instead of opening
         the app's own UI. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Android 13+ requires this to post the foreground service's own
         notification; older versions grant it automatically. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="plane_assistant"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <receiver
            android:name=".VoiceWidgetProvider"
            android:exported="true"
            android:label="@string/voice_widget_description">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.planeassistant.plane_assistant.action.START_LISTENING" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/voice_widget_info" />
        </receiver>

        <service
            android:name=".VoiceRecordingService"
            android:exported="false"
            android:foregroundServiceType="microphone" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
